<li class="list-group-item burgerItem">
    <p>{{burger_name}}</p>
    <button class="change-devour" data-id="{{this.id}}" data-newDevour="{{devoured}}">{{#if devoured}}EATEN!{{else}}DEVOUR!{{/if}}</button>
    
</li>